/*html{
  background: url("../images/pool1024x768.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body{
    background-color:transparent;
}

h3{
    font-weight:bolder;
    color:#0293D6;
}
.controller{
    text-align:center;
}

.buttonTable{
    color:#0293D6;
    font-weight:bolder;
	font-size:medium;
	font-family:arial;
    background-color: white;
    margin: 25px auto !important;
    float: none !important;
    border-style: ridge;
    border-color:#0293D6;
}
.TimerButton{
	padding:5px 5px 5px 5px;
	height:40px;
	width:40px;
}

.GPIOButton{
	color:#0293D6;
	font-weight:bolder;
	font-size:xx-large;
	font-family:arial;
	width:100%;
	height:100%;
}

.Pump{
	height:50px;
	width:50px;
	padding-right:5px;
}

.Light{
	height:50px;
	width:50px;
	padding-right:5px;
}

.WaterFall{
	height:50px;
	width:50px;
	padding-right:5px;
}